<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165373385-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-165373385-2');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to Flashversary</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename="bootstrap/css/theme/flatly/bootstrap.css") }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename="bootstrap/css/flashversary.css") }}" rel="stylesheet">

</head>

<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% else %}
        <li><a href="{{ url_for('toggle_table') }}">Toggle Table</a></li>
        <li><a href="{{ url_for('draw_card') }}">Draw</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
      </ul>
      <h3 class="text-muted">Flashversary</h3>
    </div>

    {% if flask_debug %}
    <div class="alert alert-danger">
      Flask is in debug mode. This is not safe for production.
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <div class="footer">
      <p>&copy; Flashversary</p>
    </div>

    </div> <!-- /container -->

    <script src="{{ url_for('static', filename="jquery/jquery.js") }}"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript">
      setTimeout(function() {
        $(".vanish").fadeOut('fast');
      }, 500); // <-- time in milliseconds
    </script>

  </body>

</html>
